*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select {
   appearance: none;
   border: 0;
   outline: 0;
   font: inherit;
   width: auto;
   height: 3em;
   padding: 0 3em 0 1em;
   background: url(../public/down-arrow.svg) no-repeat right 0.8em center / 1.4em, #1C82AD;
   color: white;
   border-radius: 10px;
   box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
   cursor: pointer;
}
select option {
   color: #1C82AD;
   background-color:#fff;
}
select:focus {
   outline: none;
}
select::-ms-expand {
   display: none;
}